.button_logout {
  background-color: #d52d58;
  color: #fff !important;
  border: none;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
  margin: 15px 0;
  width: 150px !important;
}

.button_logout:hover {
  background-color: #b81b43;
  transform: translateY(-3px);
}

.button_logout:active {
  transform: translateY(1px);
}

.button_logout:focus {
  outline: none;
}
